.posting {
  line-height: calc(1.4em + 1vh);
  margin-bottom: 2em;
  position: relative;
}

.posting h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-size: calc(1.5em + 1vw);
}

.at {
  font-weight: normal;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  text-transform: lowercase;
  font-size: 0.64em;
}

.posting p {
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.apply {
  font-family: 'Open Sans Condensed', -apple-system, system-ui, SegoeUI, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

.date {
  font-size: 1.2em;
  flex-basis: 150px;
  flex-shrink: 0;

}

@media (min-width: 992px) {
  .date {
    margin-left: 1em;
    text-align: right;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}



.cta a {
  margin-right: 1em;
}

.snippet {
  margin: 0.75em 0 1.25em;
  max-width: 70ch;
  line-height: 1.4;
}