@import '../../utilities/init';

.formContainer {
  margin-bottom: 1.5em;
}

.formContainer input,
.formContainer button {
  @include font-secondary;
  font-weight: bold;
  border: 0;
  line-height: 1;
  padding: 0;
  -webkit-appearance: none;
}

.formContainer input {
  font-size: 1em;
  padding: 0.25em;
  border: 1px solid grey;
  margin-right: 1em;
}

.formContainer button {
  font-size: 1em;
  padding: 0.25em 0.5em;
  background-color: $blue-stone;
  color: white;
  text-transform: uppercase;
  border: 1px solid $blue-stone;
}

.formContainer > div > div {
  font-size: 0.8em;
  color: black !important;
  font-weight: normal;
  font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
