.content p,
.content ul,
.content ol,
.content li {
  font-family: 'loraregular';
  font-style: normal;
  line-height: 1.4;
}

.content ul,
.content ol {
  margin-top: 0.5em;
}

.content p + ul {
  margin-top: 0;
}

.content p {
  margin-bottom: 1em;
}

.title {
  margin-bottom: 0.5em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.cta a {
  margin-right: 1em;
}