.label {
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Open Sans Condensed', -apple-system, system-ui, SegoeUI, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}