@import '../../utilities/init';


.title {
  @include font-secondary;
  margin-bottom: 1em;
}

.meta {
  @include font-primary;
  margin-bottom: 1.5em;
}

.content {
  @include font-primary;

  p {
    font-size: 1.2em;
    line-height: 1.55;
    margin-bottom: 1.5em;
  }

  & > p:first-of-type {
    font-size: 1.5em;
  }

  blockquote {
    background: #eee;
    border-left: 5px solid $blue-stone;
    font-size: 1em;
    margin-bottom: 3em;
    margin-right: 1em;
    margin-top: 2em;
    margin-left: 1em;
    padding: 1em 2em;

    @media (min-width: 700px) {
      margin-left: 2em;
    }

    p:last-child {
      margin-bottom: 1em;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    @include font-secondary;
  }

  h2 {
    font-size: 2rem;
    margin-top: 2em;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2em;
  }

  a {
    text-transform: none;
    font-family: inherit;
    font-weight: normal;

    /* For handling wrapping */
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.grid h1 {
  font-size: 2.5rem;
}

// .content > p:first-of-type {
//   font-size: 1.7em;
// }




.sidebar {
  margin-top: 3em;
  margin-bottom: 2em;
}

.grid > div:first-child {
  max-width: 40rem;
}

@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 40rem 1fr;
    grid-gap: 5rem;
  }

  .sidebar {
    margin: 0;
    margin-top: 5em;
  }
}

.featured {
  position: sticky;
  top: 5em;
}
