@import '../../utilities/init';

.container {
  font-size: calc(.8em + 1vw);
  padding: 1em;
  max-width: 70rem;
  margin: 0 auto;
}

.header {
  @include font-primary;
  padding: 0.5em 0 0;
}

.headerLink,
.headerLink:visited,
.headerLink:active {
  color: black;
}

.header h1 {
  @include font-secondary;
  margin-bottom: 0.25em;
}

@media (min-width: 992px) {
  .header {
    text-align: center;
  }
}