@import '../../utilities/init';

.container {
  padding: 1em;
  max-width: 70rem;
  margin: 0 auto;

  @media (min-width: 992px) {
    font-size: 1.55rem;
    padding: 1em 0;
  }
}

.header {
  @include font-primary;
  padding: 0.5em 0 0;
  text-align: center;
}

.headerLink,
.headerLink:visited,
.headerLink:active {
  color: black;
}

.header h1 {
  @include font-secondary;
  margin-bottom: 0.25em;
}