@import '../../utilities/init';

.footer {
  max-width: 40rem;
  margin: 0 auto 2em;
  text-align: center;
  padding: 0 1rem 2em;

  @media screen and (min-width: 550px) {
    padding-bottom: 0;
  }

  p {
    margin-top: 1.75em;
  }

  a {
    @include font-secondary;
  }
}

.nav {
  font-size: 0.8em;
}